---
- name: Install PipeWire
  pacman:
    name:
      - pipewire
      - pipewire-pulse
      - wireplumber
      - pavucontrol
      - libldac

- file: path=/etc/wireplumber/wireplumber.conf.d state=directory mode=0755
- name: Configure WirePlumber for LDAC codec preference
  copy: src=files/wireplumber-bluetooth.conf dest=/etc/wireplumber/wireplumber.conf.d/10-bluetooth.conf

- name: Blacklist pcspkr
  kernel_blacklist: name=pcspkr state=present
