---
- pacman: name=rustup

- shell: "rustup show | awk -F- '$1 ~ /^[a-z]+$/ { print $1 }'"
  become: yes
  become_user: "{{ user }}"
  register: rust_versions
  changed_when: false

- name: Install rust toolchains
  command: "rustup install {{ item }}"
  with_items:
    - stable
    - nightly
  become: yes
  become_user: "{{ user }}"
  when: 'item not in rust_versions.stdout_lines'

- shell: "cargo install --list | awk '$0 ~ /^[a-zA-Z]/ { print $1 }'"
  become: yes
  become_user: "{{ user }}"
  register: cargo_pkgs
  changed_when: false

- shell: "rustup component list --installed --toolchain nightly | awk -F- '{ print $1 }'"
  become: yes
  become_user: "{{ user }}"
  register: rustup_nightly_components
  changed_when: false

- shell: "rustup component list --installed --toolchain stable | awk -F- '{ print $1 }'"
  become: yes
  become_user: "{{ user }}"
  register: rustup_stable_components
  changed_when: false

# These are now all on stable, and if they linger can block nightly updates if
# it failed to build
- name: Remove nightly rustup components
  command: "rustup component remove {{ item }} --toolchain nightly"
  with_items:
    - clippy
    - rustfmt
  become: yes
  become_user: "{{ user }}"
  when: 'item in rustup_nightly_components.stdout_lines'

- name: Install stable rustup components
  command: "rustup component add {{ item }} --toolchain stable"
  with_items:
    - rustfmt
    - clippy
    - rust-analyzer
  become: yes
  become_user: "{{ user }}"
  when: 'item not in rustup_stable_components.stdout_lines'

- name: Install taglib for mack
  aur: name=taglib skip_installed=yes
  become: yes
  become_user: makepkg

- name: Install rust utilities
  command: "cargo install {{ item }}"
  with_items:
    - hyperfine
    - ripgrep
    - cargo-update
    - cargo-edit
    - fd-find
    - hexyl
    - mack
    - git-trim
    - git-delta
  become: yes
  become_user: "{{ user }}"
  when: 'item not in cargo_pkgs.stdout_lines'
