[Unit]
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecCondition=/usr/local/bin/internet-isnt-crappy
ExecStart=/usr/local/bin/cache-updates
