[Unit]
ConditionPathExists=/dev/disk/by-id/usb-TOSHIBA_EXTERNAL_USB_20210705004904F-0:0

[Service]
Type=oneshot
ExecStart=/bin/touch /dev/disk/by-id/usb-TOSHIBA_EXTERNAL_USB_20210705004904F-0:0
