[Unit]
Description=Add BuyVM IPv6 routes
Requires=systemd-networkd.service
After=systemd-networkd.service

[Service]
ExecStart=/usr/local/bin/add-buyvm-routes

[Install]
WantedBy=multi-user.target
