[Unit]
Requires=network-online.target
After=network-online.target

[Service]
User=nobody
Restart=always
RestartSec=1
ExecStart=/opt/geoip-http/geoip-http
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
