[Unit]
Description=Set up reverse SSH
Wants=network-online.target
After=network.target network-online.target
ConditionPathExists=/opt/revkey

[Service]
ExecStart=/usr/bin/ssh -vv -o UserKnownHostsFile=/dev/null -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -o BatchMode=yes -o ConnectTimeout=5 -o ServerAliveInterval=30 -i /opt/revkey -N -R 0:127.0.0.1:468 -p 468 rev@doushi.chrisdown.name
KillSignal=SIGINT
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
