[Unit]
Description=rTorrent Daemon
After=network.target

[Service]
Type=forking
TimeoutStopSec=5m
User=rtorrent
ExecStart=/usr/bin/tmux new-session -c /srv/rtorrent/data -s rtorrent -n rtorrent -d -- bash -c 'ulimit -S -n unlimited; rtorrent'
ExecStop=/usr/bin/bash -c "while pgrep rtorrent >/dev/null; do /usr/bin/tmux send-keys -t rtorrent C-q; sleep 5; done"
WorkingDirectory=~
Restart=always

[Install]
WantedBy=multi-user.target
