[Match]
Type=ether

[Link]
RequiredForOnline=no

[Network]
DHCP=yes

[DHCPv4]
UseDomains=true
RouteMetric=100

[DHCPv6]
UseDomains=true
RouteMetric=100

[IPv6AcceptRA]
UseDomains=true
