[Match]
Type=wlan

[Link]
RequiredForOnline=no

[Network]
DHCP=both
KeepConfiguration=dhcp

[DHCPv4]
UseDomains=true
RouteMetric=600

[DHCPv6]
UseDomains=true
RouteMetric=600

[IPv6AcceptRA]
UseDomains=true
